# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Classes/Debug.win32
proj.android-studio
cocos2d
Debug.win32
test.v12.suo
*.suo
obj
assets
armeabi
gen
/proj.win32/*.sdf
/proj.win32/*.opensdf
Bin
Intermediate
/proj.win32/test.VC.opendb
