<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Common/card/b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,1},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,49},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,97},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,123},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,145},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,180},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,193},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,217},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,217},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/bA.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,265},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/bJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,237},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/bK.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,274},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/bQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,313},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/dachuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,1},{120,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,155}</string>
			</dict>
			<key>Common/card/dawan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,437},{46,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,135}</string>
			</dict>
			<key>Common/card/dizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,123},{104,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>Common/card/fang.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,485},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>
			<key>Common/card/lai.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,465},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>Common/card/mei.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,485},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>
			<key>Common/card/paibei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{150,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,216}</string>
			</dict>
			<key>Common/card/paimian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,219},{150,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,216}</string>
			</dict>
			<key>Common/card/r10.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,241},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/r2.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,289},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/r3.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,294},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/r4.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,331},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/r5.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,361},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/r6.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,337},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/r7.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,351},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/r8.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,388},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/r9.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,409},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/rA.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,385},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/rJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,408},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/rK.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,445},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/rQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,433},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>
			<key>Common/card/shoupai.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,158},{41,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,57}</string>
			</dict>
			<key>Common/card/tao.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,485},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>
			<key>Common/card/xiaochuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1},{120,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,155}</string>
			</dict>
			<key>Common/card/xiaowan.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,437},{46,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,135}</string>
			</dict>
			<key>Common/card/xin.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,485},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>
			<key>Common/card/minicard.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,158},{41,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,57}</string>
			</dict>
			<key>Common/card/minib10.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,485},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minib2.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minib3.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,27},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minib4.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,53},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minib5.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,79},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minib6.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,105},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minib7.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,131},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minib8.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,157},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minib9.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,179},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minibA.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,201},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minibJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,223},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minibK.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,245},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minibQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,267},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minir10.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,289},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minir2.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,311},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minir3.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,333},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minir4.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,355},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minir5.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,377},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minir6.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,457},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minir7.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,483},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minir8.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,457},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minir9.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,483},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minirA.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,399},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minirJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,421},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minirK.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,443},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minirQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,465},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Common/card/minidachou.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,485},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>Common/card/minidawang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,485},{20,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,40}</string>
			</dict>
			<key>Common/card/minifangkuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,481},{19,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,20}</string>
			</dict>
			<key>Common/card/miniheitao.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,481},{19,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,20}</string>
			</dict>
			<key>Common/card/minihongtao.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,487},{19,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,20}</string>
			</dict>
			<key>Common/card/minilaizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,481},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>Common/card/minimeihua.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,201},{19,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,20}</string>
			</dict>
			<key>Common/card/minixiaochou.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,485},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>Common/card/minixiaowang.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,485},{20,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>