<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/bairenjizhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1},{245,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,225}</string>
			</dict>
			<key>hall/banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,565},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>hall/bisaizhuanqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1},{245,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,225}</string>
			</dict>
			<key>hall/chip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,248},{39,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,34}</string>
			</dict>
			<key>hall/chip2.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,289},{39,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,34}</string>
			</dict>
			<key>hall/chip3.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,298},{39,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,34}</string>
			</dict>
			<key>hall/chip4.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,298},{39,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,34}</string>
			</dict>
			<key>hall/chip5.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,701},{39,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,34}</string>
			</dict>
			<key>hall/jiawubei.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,116},{111,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,45}</string>
			</dict>
			<key>hall/jiayibei.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,228},{111,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,45}</string>
			</dict>
			<key>hall/kanpaiqiangzhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,703},{245,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,225}</string>
			</dict>
			<key>hall/qipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1},{113,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,47}</string>
			</dict>
			<key>hall/quanya.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,229},{111,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,45}</string>
			</dict>
			<key>hall/wuxianyazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,631},{245,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,225}</string>
			</dict>
			<key>hall/genzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,336},{101,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,46}</string>
			</dict>
			<key>hall/niudibeijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,399},{289,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,65}</string>
			</dict>
			<key>hall/meiniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,336},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>hall/niuba.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,336},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>hall/niuer.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,248},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>hall/niujiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,950},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>hall/niuliu.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,950},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>hall/niuniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,228},{113,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,67}</string>
			</dict>
			<key>hall/niuqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,950},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>hall/niusan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,565},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>hall/niusi.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,565},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>hall/niuwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,565},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>hall/niuyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,565},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>hall/fanhuianniu01.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,341},{49,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,69}</string>
			</dict>
			<key>hall/huanzhuoanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,565},{49,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,69}</string>
			</dict>
			<key>hall/xialaanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,878},{67,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,49}</string>
			</dict>
			<key>hall/baoxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,565},{67,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,68}</string>
			</dict>
			<key>hall/liaotiananniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,635},{69,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,64}</string>
			</dict>
			<key>hall/zuowei.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,228},{82,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,106}</string>
			</dict>
			<key>hall/bairenjizhanzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,395},{192,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,50}</string>
			</dict>
			<key>hall/bisaizhuanquzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,474},{192,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,50}</string>
			</dict>
			<key>hall/fanhuianniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,589},{58,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,112}</string>
			</dict>
			<key>hall/kanpaiqiangzhuangzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,474},{192,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,50}</string>
			</dict>
			<key>hall/moshidikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{273,488}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,488}</string>
			</dict>
			<key>hall/wuxianyazhuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,474},{192,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,50}</string>
			</dict>
			<key>hall/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,565},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>hall/jietoubi.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,565},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>
			<key>hall/recharge_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,342},{56,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,44}</string>
			</dict>
			<key>hall/settings_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,319},{74,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,64}</string>
			</dict>
			<key>hall/useravatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,248},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>hall/lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,466},{38,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,22}</string>
			</dict>
			<key>hall/horn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,297},{94,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,79}</string>
			</dict>
			<key>hall/fangjiandiban.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1},{396,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,125}</string>
			</dict>
			<key>hall/kuaisukaishidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,491},{799,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{799,72}</string>
			</dict>
			<key>hall/kuaisukaishianniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,399},{210,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,64}</string>
			</dict>
			<key>hall/button01.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1},{157,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,73}</string>
			</dict>
			<key>hall/button02.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,160},{157,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,73}</string>
			</dict>
			<key>hall/button03.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,399},{184,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gamemode.png</string>
			<key>realTextureFileName</key>
			<string>gamemode.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>